.button {
  position: relative;
  padding: 7px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(213, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
  flex-shrink: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  /* min-width: 145px; */
  font-family: "Noto Serif", serif;
  text-transform: capitalize;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(213, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
}
.button:hover::before {
  opacity: 0.3;
}
