.headerLine {
  margin: -50px auto 10px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(0, 222, 222);
  box-shadow: 0 20px 20px -20px rgb(1, 133, 133);
  width: 95%;
}

.wrapperButtons {
  display: flex;
  gap: 8px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 25px 40px;
}
