.headerLine {
  margin: -50px auto 10px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(0, 222, 222);
  box-shadow: 0 20px 20px -20px rgb(1, 133, 133);
  width: 95%;
}

.wrapperButtons {
  display: flex;
  max-width: 650px;
  overflow: auto;
  gap: 8px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burgerButton {
  padding: 0;
  height: 43px;
  width: 43px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(213, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
  display: none;
  position: relative;
}

.burgerLine {
  height: 2px;
  width: 75%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burgerLine::before,
.burgerLine::after {
  content: "";
  display: block;
  background-color: aliceblue;
  position: absolute;
  height: 2px;
  right: 0;
}

.burgerLine::before {
  width: 50%;
  top: -6px;
  transition:
    top 300ms 300ms,
    transform 300ms,
    width 300ms 0s;
}

.burgerLine::after {
  width: 90%;
  bottom: -6px;
  transition:
    bottom 300ms 300ms,
    transform 300ms;
}

.burgerActive .burgerLine::before {
  top: -1px;
  transform: rotate(-45deg);
  transition:
    top 300ms,
    transform 300ms 300ms,
    width 300ms 0s;
  width: 90%;
}

.burgerActive .burgerLine::after {
  bottom: 0;
  transform: rotate(45deg);
  transition:
    bottom 300ms,
    transform 300ms 300ms,
    width 300ms 0s;
}

/* .burgerLine.active::before,
.burgerLine.active::after {
    transform: translateY(50%);
    transition: transform 0.3s ease, height 0.3s ease;
}

.burgerLine.active::before {
    transition: margin-right 2s;
    transform: translateY(50%) rotate(-45deg);
}

.burgerLine.active::after {
transition: margin-right 2s;    
transform: translateY(50%) rotate(45deg);
} */

.container {
  padding: 25px 40px;
}

.form {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(213, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
  height: 36px;
  align-items: center;
  padding: 3px;
  gap: 6px;
}

.inputSubmit {
  background:
    url(/search-icon.svg),
    linear-gradient(
      90deg,
      rgba(213, 0, 255, 1) 0%,
      rgba(9, 9, 121, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
  width: 36px;
  background-position: center;
  background-size: 70%;
  height: 36px;
  cursor: pointer;
}

.inputSearch,
.inputSearch::placeholder {
  outline: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: "Noto Serif", serif;
}

.item {
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .wrapperButtons {
    grid-template-columns: repeat(3, 1fr);
  }

  .headerContent {
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .wrapperButtons {
    display: none;
  }
  .burgerButton {
    display: block;
  }
}
