.headerLine {
  margin: -50px auto 10px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(0, 222, 222);
  box-shadow: 0 20px 20px -20px rgb(1, 133, 133);
  width: 95%;
}

.wrapperButtons {
  display: flex;
  gap: 8px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 25px 40px;
}

.form {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(213, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
  height: 36px;
  align-items: center;
  padding: 3px;
  gap: 6px;
}

.inputSubmit {
  background:
    url(/search-icon.svg),
    linear-gradient(
      90deg,
      rgba(213, 0, 255, 1) 0%,
      rgba(9, 9, 121, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
  width: 36px;
  background-position: center;
  background-size: 70%;
  height: 36px;
  cursor: pointer;
}

.inputSearch,
.inputSearch::placeholder {
  outline: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: "Noto Serif", serif;
}
